In [2]:
#Joaos notebook, loading meps dataset

In [1]:
import os
if 'Conformal-Sparsemax/notebooks' in os.getcwd():
    os.chdir(os.path.dirname(os.getcwd()))

In [3]:
from aif360.datasets import MEPSDataset21

In [6]:
a,b,c = MEPSDataset21().split([0.5, 0.8], shuffle=True)

In [10]:
path = '/home/joaocalem/.pyenv/versions/3.7.13/envs/phd/lib/python3.7/site-packages/aif360/data/raw/meps/h192.csv'

In [11]:
import pandas as pd

In [13]:
df = pd.read_csv(path)

In [14]:
df

,DUID,PID,DUPERSID,PANEL,FAMID31,FAMID42,FAMID53,FAMID16,FAMIDYR,CPSFAMID,...,RXPTR16,RXOTH16,PERWT16F,FAMWT16F,FAMWT16C,SAQWT16F,DIABW16F,CSAQW16F,VARSTR,VARPSU
0,10001,101,10001101,21,A,A,A,A,A,A,...,0,0,12999.552725,12720.991634,12720.991634,14398.747151,0.000000,0.0,1021,1
1,10001,102,10001102,21,A,A,A,A,A,A,...,0,0,11361.661447,12720.991634,12720.991634,13439.433146,0.000000,0.0,1021,1
2,10001,103,10001103,21,A,A,A,A,A,A,...,0,0,13263.220829,12720.991634,12720.991634,0.000000,0.000000,0.0,1021,1
3,10001,104,10001104,21,A,A,A,A,A,A,...,2510,0,11616.068609,12720.991634,12720.991634,0.000000,0.000000,0.0,1021,1
4,10002,101,10002101,21,A,A,A,A,A,A,...,0,0,4446.485068,5638.253653,5638.253653,5559.980413,6391.808082,0.0,1077,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34650,80569,105,80569105,20,D,D,D,D,D,D,...,0,0,3923.745970,0.000000,0.000000,0.000000,0.000000,0.0,1056,2
34651,80569,106,80569106,20,A,D,D,D,D,D,...,0,0,3856.590270,0.000000,0.000000,0.000000,0.000000,0.0,1056,2
34652,80569,107,80569107,20,D,D,D,D,D,D,...,0,0,2702.511847,0.000000,0.000000,0.000000,0.000000,0.0,1056,2
34653,80569,108,80569108,20,D,D,D,D,D,D,...,0,0,2930.388240,0.000000,0.000000,0.000000,0.000000,0.0,1056,2
34654,80570,101,80570101,20,A,A,A,A,A,A,...,1944,0,13195.265632,14028.479845,14028.479845,14737.662245,0.000000,0.0,1126,1